<form action="/prs/update/{{exercise_id.group}}" method="POST">
  <div class="input-field">
    <input required name="reps" id="new_reps_{{_id}}" type="number" class="validate">
    <label for="new_reps_{{_id}}">Reps</label>
  </div>
  <div class="input-field">
    <input required name="weight" id="new_max_{{_id}}" type="number" class="validate">
    <label for="new_max_{{_id}}">Max</label>
  </div>
  <input type="hidden" name="pr_id" value="{{_id}}">
  <button class="btn waves-effect waves-light" type="submit">Submit
    <i class="material-icons right">send</i>
  </button>
  <a href="#delete_exercise-{{_id}}" class="btn waves-effect waves-light red darken-1 modal-trigger" type="button">Delete
    <i class="material-icons right">delete</i>
  </a>
  </div>
</form>

<div id="delete_exercise-{{_id}}" class="modal">
  <div class="modal-content">
    <h5>Are you sure you want to delete this exercise?</h5>
    <form action="/prs/delete" method="POST">
      <div class="modal-footer">
        <input name="exercise" type="hidden" value="{{exercise_id._id}}">
        <input name="group" type="hidden" value="{{exercise_id.group}}">
        <input name="pr" type="hidden" value="{{_id}}">
        <button class="btn-flat waves-effect waves-light red-text" type="submit">Delete</button>
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
      </div>
    </form>
  </div>