<h3 class="center">Showing Exercises and PRs For {{group}}</h3>
<div class="center">
  <a class="waves-effect waves-light btn modal-trigger" href="#add_new">
    <i class="material-icons left">add</i>Add Exercise
  </a>
</div>

<div id="add_new" class="modal">
  <div class="modal-content">
    <h4 class="center">Add New Exercise</h4>
    <form action="/prs/add" method="POST">
      <div class="input-field">
        <input name="exercise" id="new_exercise_name" type="text" class="validate">
        <label for="new_exercise_name">Exercise Name</label>
      </div>
      <div class="input-field">
        <input name="reps" id="add_new_reps" type="number" class="validate">
        <label for="add_new_reps">Reps</label>
      </div>
      <div class="input-field">
        <input name="weight" id="add_new_weight" type="number" class="validate">
        <label for="add_new_weight">Weight</label>
      </div>
      <input name="group" value="{{group}}" type="hidden">
      <div class="modal-footer">
        <button class="btn waves-effect waves-light" type="submit">Submit
          <i class="material-icons right">send</i>
        </button>
      </div>
    </form>
  </div>
</div>

<div class="Pr_cards">
  {{#each prs}}
  <div class="card">

    <!-- PR CARD TABS -->
    <div class="card-tabs">
      <ul class="tabs tabs-fixed-width">
        <li class="tab">
          <a href="#{{_id}}_1">PRs</a>
        </li>
        <li class="tab">
          <a href="#{{_id}}_2">Update</a>
        </li>
      </ul>
    </div>
    <!-- /PR CARD TABS -->

    <div class="card-content grey lighten-4">
      <div id="{{_id}}_1">
        <span class="card-title">{{exercise_id.name}}</span>
        {{> pr_card/_table}}
      </div>
      <div id="{{_id}}_2">
        <span class="card-title">{{exercise_id.name}}</span>
        {{> pr_card/_form}}
      </div>
    </div>
  </div>
  {{/each}}
</div>