{{#if prs}} {{#if group}}
<h3 class="center">Showing all PRs for {{group}}</h3>
{{else}}
<h3 class="center">Showing all PRs{{group}}</h3>
{{/if}} {{else}}
<div class="center">
  <h3>No PRs for {{group}}</h3>
  <p>
    <a href="/prs/select/{{group}}">Add PRs</a>
  </p>
</div>
{{/if}}

<!-- Group Filter Button -->
<div class="center my-2">
  <a class='dropdown-trigger btn' href='#' data-target='dropdown1'>Filter By Group</a>
</div>

<!-- Filter Items -->
<ul id='dropdown1' class='dropdown-content'>
  <li>
    <a href="/prs/latest">All PRs</a>
  </li>
  <li>
    <a href="/prs/latest/Chest">Chest</a>
  </li>
  <li>
    <a href="/prs/latest/Back">Back</a>
  </li>
  <li>
    <a href="/prs/latest/Legs">Legs</a>
  </li>
  <li>
    <a href="/prs/latest/Arms">Arms</a>
  </li>
  <li>
    <a href="/prs/latest/Shoulders">Shoulders</a>
  </li>
</ul>

<div class="Pr_cards">
  {{#each prs}}
  <div class="card">
    <div class="card-content grey lighten-4">
      <div id="{{_id}}_1">
        <span class="card-title">{{exercise_id.name}}</span>
        {{> pr_card/_table}}
      </div>
    </div>
  </div>
  {{/each}}
</div>